# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.ipynb_checkpoints/

# ROOT / C++
*.o
*.os
*.so
*.d
*.pcm
*.exe

# Backups and logs
*.bak
*.log

# Build directories
build/
bin/
obj/

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp

# Logs and output
*.log
output/
results/
